.stations {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.station {
  margin-bottom: 1px;
}

.station button {
  width: 100%;
  height: 70px;
  margin-bottom: 10px;
}

.station-btn-text {
  word-wrap: break-word;
  white-space: normal;
}

.header{
  width: 75%;
}

.reset-btn {
  float: right;
  position: absolute;
  top: 21px;
  right: 10px;

}

.time-list {
  width: 65%;
  margin: auto;
}

.footer {
  text-align: center;

}
